<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <title>NEWS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  <div class="container">
<!--      <h1> This is division class , comes with left and right margin</h1>-->
<!--  </div>-->
<!--    <div class="jumbotron">-->
<!--    <h1> This is jumbotron, comes with bg</h1>-->
<!--    </div>-->
<!--<div class="container">-->
<!--    <div class="jumbotron">-->
<!--        <h1> This is jumbotron, comes with bg</h1>-->
<!--    </div>-->
<!--</div>-->
<!--        <div class="jumbotron">-->
<!--            <div class="container">-->
<!--      <h1> background with margin content</h1>-->
<!--  </div>-->
<!--            <h1> This is jumbotron, comes with bg</h1>-->
<!--        </div>-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
<!--    <a class="navbar-brand" href="{% url 'sports' %}">Sports</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'sports' %}">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'entertainment' %}">Entertainment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'technology' %}">Technology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'business' %}">Business</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" name="q"  type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
    </nav>
  </div>
    </nav>
<p class="lh-1"></p>
<p class="lh-sm"><h1 style="color:blue"><i><b>Project Title: Real time API integration in web pages using django framework.</p></h1></i></b>
<p class="lh-base"><h2 style="color:blue"><i>The main purpose of it is to fetch real time data from API and display it to user. Various category news such as Technology,Business, Sports, etc are included in this framework. </p></h2></i>
<p class="lh-lg"><h2 style="color:blue"><i>The Keywords of the project are: <b>Python, Django, Web Development, API.</b></p></h2></i>
<p class="lh-base"><h2 style="color:blue"><i><p>So, click on any of the above mentioned categories from Navbar to get a brief insight of that topic!</b></p></i></h2>
<h2 style="color:blue"> <i>Designed by:ANKITA KUNDLANI
  <h2 style="color:blue"> Enrollment number: 190170111057</b></i>
</h2 >
</body>
</html>